#background{
    display: flex;
    gap: 50px;
}

#intro {
    text-align: center;
}

#main{
    
    height: 97vh;
    width:800px;
    display:flex;
    background-color: white;
    flex-wrap: wrap;
}
